@model Strike.Models.Message

@{
    ViewData["Title"] = "Details";
}

<div class="margin-top container">
    <div class="row header-container">
        <div class="col-md-9">
            <span>@Model.Subject</span>
        </div>
    </div>
    <div class="row full-box">
        <div class="col-md-12">
            <strong>
                <span>@Model.MessageSender.User.FirstName</span>&nbsp;
                <span>@Model.MessageSender.User.LastName</span>
                <span class="pull-right">
                    @if (Model.Created.Date == DateTime.Now.Date)
                    {
                        <span>Idag @Model.Created.ToString("HH:mm")</span>
                    }
                    else
                    {
                        <span>@Html.DisplayFor(Model => Model.Created)</span>
                    }
                </span>
            </strong>
        </div>
    </div>
    <div class="row full-box">
        <div class="col-md-10">
            <span>@Model.Text</span>
        </div>
    </div>
    <div class="row full-box">
        <div class="col-md-12">
            <span class="pull-right">
                <!-- Trigger the modal with a button -->
                <button title="Svara" type="button" class="btn btn-default" data-toggle="modal" data-target="#message-modal"><span class="glyphicon glyphicon-envelope"></span></button>
                <button title="Ta bort" type="submit" class="btn btn-default" data-toggle="modal" data-target="#delete-modal"><span class="glyphicon glyphicon-trash"></span></button>
            </span>
        </div>
    </div>
</div>

<!-- Message Modal -->
<div id="message-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <form asp-action="Create">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" name="receiverUserId" value="@Model.MessageSender.UserId" />
                            <div class="form-group">
                                <input name="subject" class="form-control" placeholder="Ämne..." />
                                <span asp-validation-for="Subject" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <textarea rows="5" cols="50" name="text" class="form-control" placeholder="Meddelande..."></textarea>
                                <span asp-validation-for="Text" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Skicka" class="btn btn-default" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Modal-->
<div id="delete-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <strong>Är du säker på att du vill radera meddelandet?</strong>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a asp-action="Delete" asp-route-id="@Model.Id" title="Radera" class="btn btn-default">Radera</a>
                <button title="Avbryt" type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
            </div>
        </div>

    </div>
</div>