@model Strike.Models.Advertisement;
@using Strike.Views.Shared;
@using Strike.Models;
@{
    ViewData["Title"] = "Skapa annons";
}


<div class="row window-container container">
    <h3>Annons</h3>
    <hr />
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Namn</label>
                <input asp-for="Name" required class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Rubrik</label>
                <input asp-for="Title" required class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Pris</label>
                <input asp-for="Price" required class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Beskrivning</label>
                <textarea asp-for="Description" required class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label">Telefonnummer</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="County" class="control-label">Landskap</label>
                <select id="county-select" name="County" required class="form-control">
                    @foreach (SelectListItem item in Constants.Counties)
                    {
                        <option data-area="@item.Value" value="@item.Text">@item.Text</option>
                    }
                </select>
                <span asp-validation-for="County" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label">Område</label>
                <select id="area-select" name="Area" class="form-control"></select>
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Kategori(er)</label>
                <select name="CategoryIds" required class="form-control">
                    @{
                        List<Category> categories = (List<Category>)ViewData["Categories"];
                        foreach (Category item in categories)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="AdvertisementImages" class="control-label">Bild(er)</label>
                <input asp-for="AdvertisementImages" multiple type="file" name="image" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

