@model Strike.Models.Advertisement

@{
    ViewData["Title"] = "Delete";
}
<div class="container blue margin-top">
    <h3>Är du säker på att du vill ta bort annonsen?</h3>
            <div class="row advertisement-info">
                <div class="col-md-7">
                    <span style="white-space: pre-line">@Html.DisplayFor(model => model.Description)</span>
                </div>
                <div class="col-md-5">
                    <p class="advertisement-info-price">Pris: @Html.DisplayFor(model => model.Price) kr</p>
                    <p>Säljare: @Html.DisplayFor(model => model.Name)</p>
                    <p>Skapad: @Html.DisplayFor(model => model.CreatedDate)</p>
                    <p>Plats: @Html.DisplayFor(model => model.Area), @Html.DisplayFor(model => model.County)</p>
                    <p>Telefonnummer: @Html.DisplayFor(model => model.Phone)</p>
                </div>
            </div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>&nbsp;Radera</button>
                <a asp-action="Index">Back to List</a>
            </form>
</div>
