@model Strike.Models.Advertisement

@{
    ViewData["Title"] = "Annonsdetaljer";
}
<div class="header-color margin-top container">
    <h3>@Html.DisplayFor(model => model.Title)</h3>
    <hr />
    <div class="row">
        <div class="col-md-12 details-img">
            @{
                foreach (AdvertisementImage img in Model.AdvertisementImages)
                {
                    <div style="display: inline-block">
                        <a class="grouped_elements" rel="group1" href="~/uploads/@img.Path"><img class="advertisement-img" src="~/uploads/@img.Path" /></a>
                    </div>
                }
            }
        </div>
    </div>
    <div class="row advertisement-info">
        <div class="col-md-7">
            <span style="white-space: pre-line">@Html.DisplayFor(model => model.Description)</span>
        </div>
        <div class="col-md-5">
            <p class="advertisement-info-price">Pris: @Html.DisplayFor(model => model.Price) kr</p>
            <p>Säljare: @Html.DisplayFor(model => model.Name)</p>
            <p>Skapad: @Html.DisplayFor(model => model.CreatedDate)</p>
            <p>Plats: @Html.DisplayFor(model => model.Area), @Html.DisplayFor(model => model.County)</p>
            <p>Telefonnummer: @Html.DisplayFor(model => model.Phone)</p>
            <a href="@Url.Action("Create", "Messages", new { @receiverUserId = Model.UserId, @advertisementId = Model.Id })" class="btn btn-default">Skicka meddelande till @Html.DisplayFor(model => model.Name)</a>
        </div>
    </div>
</div>

