@model Strike.Models.Advertisement

@{
    ViewData["Title"] = "Annonsdetaljer";
}
<div class="window-container container">
    <h3>@Html.DisplayFor(model => model.Title)</h3>
    <hr />
    <div class="row">
        <div class="col-md-10">
            <img class="img-responsive" src="~/images/AbstractImg2.jpg" />
        </div>
        <div class="col-md-2">
            <img class="img-responsive thumbnail" src="~/images/AbstractImg2.jpg" />
        </div>
        <div class="col-md-2">
            <img class="img-responsive thumbnail" src="~/images/AbstractImg2.jpg" />
        </div>
    </div>

    <div class="row advertisement-details">
        <div class="col-md-7">
            <p>@Html.DisplayFor(model => model.Description)</p>
        </div>
        <div class="col-md-5">
            <p class="advertisement-info-price">Pris: @Html.DisplayFor(model => model.Price) kr</p>
            <p>Säljare: @Html.DisplayFor(model => model.Name)</p>
            <p>Skapad: @Html.DisplayFor(model => model.CreatedDate)</p>
            <p>Plats: @Html.DisplayFor(model => model.Area), @Html.DisplayFor(model => model.County)</p>
            <p>Telefonnummer: @Html.DisplayFor(model => model.Phone)</p>
            <button class="btn advertisement-button">Skicka meddelande till @Html.DisplayFor(model => model.Name)</button>
        </div>
    </div>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>

