@model IEnumerable<Strike.Models.Advertisement>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <form asp-action="Index">
                <div class="input-group">
                    <input id="searchInput" name="search" class="form-control" />
                    <span class="input-group-btn">
                        <input type="submit" value="Sök" class="btn btn-default" />
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Rubrik</th>
                    <th>Pris</th>
                    <th>Annons skapad</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        {
                            string img = item.AdvertisementImages.Count > 0 ? "uploads/" + item.AdvertisementImages[0].Path : "images/default.png";
                            <tr>
                                <td><img src="~/@img" /></td>
                                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                                <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Redigera</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Ta bort</a>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>
