@model IEnumerable<Strike.Models.Advertisement>
@using Strike.Views.Shared;

@{
    ViewData["Title"] = "Annonser";
}
<div class="margin-top container">
    <div class="row full-box">
        <form asp-action="Index">
            <div class="col-md-4">
                <div class="form-group">
                    <input id="searchInput" name="search" placeholder="Sök..." class="form-control" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <select name="categoryIds" class="form-control">
                        <option value="" disabled selected>Kategori...</option>
                        @{
                            List<Category> categories = (List<Category>)ViewData["Categories"];
                            foreach (Category item in categories)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }

                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <select name="county" class="form-control">
                        <option value="" disabled selected>Landskap...</option>
                        @foreach (SelectListItem item in Constants.Counties)
                        {
                            <option data-area="@item.Value" value="@item.Text">@item.Text</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <button class="btn btn-primary center-block" type="submit"><span class="glyphicon glyphicon-search"></span>&nbsp;Sök</button>
                </div>
            </div>
        </form>
    </div>


    <div class="striped">
        @{
            foreach (var item in Model)
            {
                string img = item.AdvertisementImages.Count > 0 ? "uploads/" + item.AdvertisementImages[0].Path : "images/default.png";
                <div class="row advertisement-seperator">
                    <div class="col-md-2">

                        <a href="@Url.Action("Details", "Advertisements", new { @id = item.Id })">
                            <img class="advertisement-img" src="~/@img" />
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="@Url.Action("Details", "Advertisements", new { @id = item.Id })"><h3>@Html.DisplayFor(modelItem => item.Title)</h3></a>
                    </div>
                    <div class="col-md-4">
                        <h4>@Html.DisplayFor(modelItem => item.Price) kr</h4>
                        @if (item.CreatedDate.Date == DateTime.Now.Date)
                        {
                            <span>Idag @item.CreatedDate.ToString("HH:mm")</span>
                        }
                        else
                        {
                            <span>@Html.DisplayFor(modelItem => item.CreatedDate)</span>
                        }

                        <br />
                        <span>@string.Join(", ", item.AdvertisementCategories.Select(ac => ac.Category.Name)), </span>
                        <span>@Html.DisplayFor(modelItem => item.County)</span>
                    </div>
                </div>
            }
        }
    </div>

</div>


