@model IEnumerable<Strike.Models.Advertisement>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <form asp-action="Index">
                <div class="input-group">
                    <input id="searchInput" name="search" class="form-control" />
                    <span class="input-group-btn">
                        <input type="submit" value="Sök" class="btn btn-default" />
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Namn</th>
                    <th>Pris</th>
                    <th>Beskrivning</th>
                    <th>Telefonnummer</th>
                    <th>Annons skapad</th>
                    <th>Användare</th>
                    <th>Landskap</th>
                    <th>Område</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Price)</td>
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                        <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.User.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.County)</td>
                        <td>@Html.DisplayFor(modelItem => item.Area)</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Redigera</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Ta bort</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
