@model IEnumerable<Strike.Models.Advertisement>
@{
    ViewData["Title"] = "Mina annonser";
}
<div class="blue margin-top container">
    <h3>Annonser</h3>
    <hr />
    @{
        foreach (var item in Model)
        {
            string img = item.AdvertisementImages.Count > 0 ? "uploads/" + item.AdvertisementImages[0].Path : "images/default.png";
            <div class="row advertisement-seperator">
                <div class="col-md-2">

                    <a href="@Url.Action("Details", "Advertisements", new { @id = item.Id })">
                        <img class="advertisement-img" src="~/@img" />
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="@Url.Action("Details", "Advertisements", new { @id = item.Id })"><h3>@Html.DisplayFor(modelItem => item.Title)</h3></a>
                </div>
                <div class="col-md-2">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default">Redigera</a>
                </div>
                <div class="col-md-2">
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Radera</a>
                </div>
            </div>
        }
    }
</div>
